/* FONTS */

@font-face {
	font-family: 'Calibre Semibold';
	src: 
    url('../fonts/Calibre/Calibre-Semibold.otf')
    format('opentype');

}

@font-face {
	font-family: 'Marion Regular';
	src: url('../fonts/Marion/Marion-Regular.ttf')
    format('truetype');
    
}

@font-face {
	font-family: 'Marion Bold';
	src: url('../fonts/Marion/Marion-Bold.ttf')
    format('truetype');
}

/* BODY & HEADERS*/

body {
	margin: 0px;
    min-width: 340px;
	background: #f8f8f8;
    background-size: 350vw;
	font-family: 'Marion Regular';
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
	color: #4f4f4f;
    font-size: 1.3em;
	line-height: 2em;
}

.header {
	background: #fff url('img/header.jpg') no-repeat;
	background-position: 50% 40%;
	background-size: 100vw;
	height: 100px;
	padding: 30px;
	vertical-align: middle;
}

	.blue {
		background: #1F7BB9 url('img/header-blue.jpg') no-repeat;
		background-position: 50% 70%;
		background-size: 100vw;
        height: 200px;
	}

	.yellow {
		background: #EBCC4F url('img/header-yellow.jpg') no-repeat;
		background-position: 50% 40%;
		background-size: 100vw;
        height: 200px;
	}

    .darkb {
		background: #10597f url('img/header-darkb.jpg') no-repeat;
		background-position: 50% 40%;
		background-size: 100vw;
        height: 200px;
	}

	.header h1 {
		max-width: 400px;
		color: #fff;
		text-shadow: 0px 0px 20px #666;
		vertical-align: middle;
        font-size: 2.5em;
        line-height: 3em;
	}

h3{
    font-family: 'Calibre Semibold';
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.6;
    font-size: 1em;
}

/* STRIPS & CONTENT */
.strip{
    background-color: ;
    padding-right: 30px;
    padding-left: 30px;
}

.content {
	width: 90%;
	max-width: 800px;
	margin: 30px auto 60px auto;
	margin-bottom: 50px;
}

/* NAVIGATION & FOOTER */

nav, footer {
	padding: 15px 30px;
    width: 100%;
	background: #fff;
    font-family: 'Calibre Semibold';
}

	.navlinks a {
		display: inline-block;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin: 20px 20px 0 0;
        opacity: 0.4;
        transition: 0.2s;
        -moz-transition: 0.2s;
        color: #231f20;
        
	}

	.navlinks .current {
		padding-bottom: 3px;
		border-bottom: 1px solid #ccc;
	}

	.get { color: #ee5925 !important; font-weight: bold; }

    .navlinks a:hover {
        opacity: 0.8;
        text-decoration:none;
	}

    .logo{
        width: 150px;
        display: block;
        clear: none;
        padding: 10px;
    }

    a, a:visited {text-decoration: none;}

/* FOOTER */

footer {
	background-color: #10597f;
    padding: 40px;
    padding-left: 80px;
}

.footer-nav {
    width: 30%;
    min-width: 200px;
}

.footer-nav a {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.4;
    transition: 0.2s;
    -moz-transition: 0.2s;
    color: #fff;
}

.footer-nav a:hover {
        opacity: 0.8;
        text-decoration:none;
}

.footer-nav a:visited{
    color: #fff;
}


/* HORIZONTAL BARS */

.bar {
	height: 10px;
	display: block;
	position: relative;
	margin: 0;
	background: transparent;
	line-height: .5em;
}

	.bluep, .yellowp, .darkbluep {
		background: #1F7BB9;
		width: 33.3%;
		height: 10px;
		display: inline-block;
	}
	.yellowp { background: #EBCC4F; }
	.darkbluep { background: #10597f; }

/* HOMEPAGE STYLING */

/*
.body{margin-top: -21px;}
*/


.small-hide{
    display:block;
}

.home {
    color: #fafafa;
    opacity: 0.8;
    background-color: #1f7bb9;
    padding: 30px;
}

.home h1 {
    font-size: 2.3em;
    line-height: 1.3em;
	max-width: 450px;
}

.intro {
	max-width: 360px;
    font-size: 1.6em;
}

.float-image{
    width: 100px;
    float: left;
    margin: 60px;
    margin-top: -50px;
}
.element {
	display: inline-block;
    font-family: 'Marion Bold';
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    margin-top: 150px;
    
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 1s infinite;
    -moz-animation: blink 1s infinite;
    animation: blink 1s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}



/* CHEVRON */


.chevron {
	width: 100%;
	
	text-align: center;
    opacity: 0.7;
    transition: 0.2s;
}

.chevron:hover {
	opacity: 1;
}

.chevron>i {
	margin-bottom: 20px;
	font-size: 2rem;
	transition: 0.2s ease;
}
.chevron>i:hover {
	/*color: #FDBD10;*/
	opacity: 1;
	text-shadow: 0 0 2px #fff;
	cursor: pointer;
	transition: 0.2s ease;
}

/* TEAM STYLING */
.people{
    width: 40%;
    min-width: 300px; 
    position: relative;
    bottom: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.8;
}



.people-bg{
    background-color: #fff;
    padding: 30px 0px 0px 30px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 2px #ddd;
	margin-bottom: 20px;
	display: block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    opacity: 0.9;
}


    .people-bg:hover{
        opacity: 1;
        border-bottom: 1px solid #bbb;
        box-shadow: 0 0 2px #bbb;
    }

    .people-bg p {
        opacity: .9;

	}

.people-bio{
    width: 90%;
    min-width: 300px;
}

.right{
    float: right;
}

.right-bio{
    float: none;
}

.left{
    float: left;
}

    .media-link{
        width: 20px;
        opacity: 0.5;
        margin: 0px 10px 0px 0px;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
    }

    .media-link:hover{
            opacity: 0.8;
        }



/* BUTTONS */
input[type=submit]{
    width: 74%;
    font-family: 'Calibre Semibold';
    text-transform: uppercase;
	letter-spacing: 2px;
    font-size: 8pt;
    background-color: #1F7BB9;
    color: white;
    padding: 12px 0px 8px;
    margin: -30px 0px 20px 13%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=submit]:hover {
    background-color: #10597f;
}



/* MODAL STYLING */
.modal-style {
    border-radius: 5px;
    background-color: #fdfdfd;
    width: 400px;
    margin: 20% auto  auto;
    padding: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 10pt;
    font-family: 'Marion Regular';
    text-align: center;
}

.modal-style input[type=submit]{
    width: 50%;
    margin: auto;
}

.modal-style input[type=submit]:hover{
    background-color: #EBCC4F;
}



/* INFO BOXES */

.info {
	background: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 2px #ddd;
	margin-bottom: 20px;
	display: block;
}

    .info img { margin-top:;width: 80px; vertical-align: middle; }

	.info p {
		display: inline-block;
		vertical-align: middle;
		width: 80%;
        margin-left: 20px;
        margin-top: 10px;
		padding: 20px;
	}
	.info:hover {
		border-bottom: 1px solid #bbb;
		box-shadow: 0 0 2px #bbb;
	}


.info-icon {
	width: 40px !important;
	margin: 0px 10px 0px 40px;
}

.card-icon {
	width: 40px !important;
	margin: 20px 10px 0px 40px;
}

.bold {
	font-weight: 600;
    font-size: 1.1em;
    line-height: 2em;
    opacity: 0.9;
}

.quote {
	opacity: .5;
}

a, a:visited {
	text-decoration: none;
    color: #000;
}

.articles a:hover{
    text-decoration: none;
}
/* PRESS CARDS */
.press {
	background: #fff;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 2px #ddd;
	display: block;
    width: 100%;
    margin-bottom: 20px;
    min-height: 520px;
    
}

    .press img 
    { margin-bottom:0px; width: 100%; vertical-align: middle; }

    .press h2{
        color: #333333;
        font-size: 1.6em;
        font-family: 'Marion Regular';
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
        letter-spacing: .4pt;
        padding: 0px 20px;
    }

.press p{
    padding: 0px 20px;
    line-height: 1.3em;
}

	.press:hover {
		border-bottom: 1px solid #bbb;
		box-shadow: 0 0 2px #bbb;
        
	}



    

.flex-content, .flex-logos {
	width: 100%;
	margin: auto;
    -webkit-display: flex;
	display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}


/* MEDIA QUERIES */



@media (max-width: 540px) {
    .body{
        margin-top: 0px;
    }
    .navlinks a {
		margin: 15px 15px 0px 0;
	}
    .element {
        margin-top: 0px;
    }
    
    .footer-nav {
    min-width: 250px;
    width: 78%;
    }
    
    h1{font-size: 1.7em; line-height: 1.5;}
    p{font-size: 1.3em;}
    
    .small-hide{
        display: none;
    }
}

@media (max-width: 700px) {
    
    .home{
        margin-bottom: 80px;
    }
    .chevron>i {
	margin-bottom: 40px;
    }
    
    
    
}

@media (max-width: 800px) {

    .info-icon {
		margin-top: 30px;
		margin-bottom: -20px;
		margin-left: 40px;
	}
    
    .card-icon {
		margin-top: 10px;
		margin-bottom: 00px;
		margin-left: 40px;
	}
    
    .info p{
    }
    
    input[type=submit]{
        width: 80%;
        margin-left: 10%;;
    }
    
    .card{
        width: 100%:
    }
    
    
    
    .flex-content{
        flex-direction: column;
    }
    
    .flex-logos {
        flex-wrap: wrap;
        margin: auto;
    }
}

@media (min-width: 540px) {

    .float-image{
        width: 200px;
    }
    
	.logo {
		width: 150px;
		display: inline-block;

	}
    
	nav {
		position: fixed;
		width: 100%;
		z-index: 5;
		box-shadow: 0 0 2px #ddd;
	}
	.navlinks {
		float: right;
	}
    
    .chevron>i {
        margin-top: 50px;
	margin-bottom: 90px;
    }
    
	h1 { font-size: 2em; }
	h2 { font: bold 2.2em/1em 'Calibre Bold'; }
    h3{font-size: 1.5em;}
	p { font-size: 1.4em; }

    
    
}

@media(min-width: 700px){
    .people-bio{
    width: 50%;
    padding-right: 5%;}
    
    .right-bio{
    float: right;
}
    
        .press{
        width: calc(33.3333% - 2rem);
        float: left;
          margin: 1rem;
    }
    
}

@media (min-width: 800px) {
    .card{
    width: 32%;
}  
    

}

@media (min-width: 990px) {
}


@media (min-width: 1100px) {

}
    

